body {
  background-image: url("../assets/img/calorie-calc-background.png");
  font-size: 16px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
}

.logo-div {
  align-items: center;
  max-width: 100%;
  display: block;
}
.logo {
  margin-top: 30px;
  max-width: 17%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
  font-weight: 200;
}

.input-container {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  color: black;
}

.dropdown {
  min-width: 100%;
}

.dropdown-menu {
  min-width: 100%;
}

.btm {
  min-width: 100%;
}

.selections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.result-card {
  text-align: center;
  font-size: small;
  position: relative;
  margin: 7px;
  min-width: 30%;
  margin-top: 14px;
  background-color: none;
}

@media screen and(min-width: 700px) {
  .selections {
    display: block;
  }
}

button {
  text-align: left;
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.session-intensity {
  list-style: none;
  border-radius: 0.25rem;
  padding: 5px;
  background-color: #f8f9fa;
  margin: 0.2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.session-intensity:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

button {
  background-color: white;
}

.activityEl {
  list-style: none;
  border-radius: 0.25rem;
  padding: 5px;
  margin: 0.2rem;
  background-color: #f8f9fa;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.activityEl:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.gender-btn {
  margin: 0.2rem;
  background-color: #f8f9fa;
}

.sessions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.title {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}

.title-w {
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
}

.card-text {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
}

.text-inp {
  background-color: white;
  border-style: none solid none none;
  border-color: black;
  border-right-width: 1px;
}

.form-control {
  border: 1px black;
}

.dropdown-btn {
  text-align: left;
}

.results-container {
  margin: 50px 5px;
}

.icon {
  text-align: right;
}

.collapsed-element {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.dropdown-btn {
  display: grid;
  grid-template-columns: 15fr 8fr 1fr;
  grid-template-columns: auto minmax(3, 1fr);
  align-items: center;
  gap: auto;
}

.genderInput {
  text-align: left;
  align-items: center;
  margin: auto;
}

.genderTitle {
  margin-bottom: auto;
}

.exercise-activity-title {
  margin-bottom: auto;
}

.exercise-activity-input {
  margin: auto;
  text-align: left;
}

.sessions-num-title {
  position: relative;
  margin-bottom: auto;
}

.sessions-num-input {
  margin: auto;
  text-align: left;
}

.session-intensity-title {
  margin-bottom: auto;
  grid-template-columns: max(3, 1fr) 150px;
  position: relative;
}

.session-intensity-input {
  margin: auto;
  position: relative;
  text-align: left;
}

.logo {
  min-width: 80px;
}

@media screen and (min-width: 817px) {
  .input-container {
    max-width: 600px;
  }
  .results-container {
    max-width: 750px;
    margin: auto;
  }
  .logo {
    max-width: 138px;
  }
}

.collapse {
  display: none;
  transition: height 0.5s ease-in-out;
}

.disclaimer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.disclaimer {
  text-align: center;
  font-size: 12px;
  color: white;
  font-family: "Oswald", sans-serif;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}
